:root {
  --color-dark: #28282f;
  --color-gray: #31323a;
  --color-light: #dedede;
  --color-white: #ffffff;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--color-gray);
  color: var(--color-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-icons li {
  display: inline-block;
  margin-right: 10px;
}
.social-icons li:last-child {
  margin-right: 0;
}
.social-icons li a {
  display: block;
  width: 30px; /* largura da imagem */
  height: 30px; /* altura da imagem */
  overflow: hidden;
}
.social-icons li a img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* para ajustar a imagem dentro do círculo */
}

.card {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 15px;
	margin: 20px;
	width: 55vh;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: #dedede;
}

.card-header {
	background-color: #f0f0f0ab;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px 5px 0 0;
}

.card-body {
	padding: 10px;
}

[hidden] { display: none; }

.wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 3vh;
  border: 3vh solid var(--color-dark);
  min-height: 100vh;  
}

.title {
  --color-orange: #f26b38;
  color: var(--color-white);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  position: relative;
}
  .title::before,
  .title::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    clip: rect(0, 0, 0, 0);
  }
  .title::before {
    left: -2px;
    text-shadow: 2px 0 var(--color-orange);
    animation: glitch-l 2s infinite linear alternate-reverse;
  }
  .title::after {
    left: 2px;
    text-shadow: -1px 0 var(--color-orange);
    animation: glitch-r 2s infinite linear alternate-reverse;
  }

.subtitle {
  font-size: 1.25rem;
  text-align: center;
}

@keyframes glitch-l {
  0% { clip: rect(20px, 9999px, 51px, 0); }
  5% { clip: rect(83px, 9999px, 102px, 0); }
  10% { clip: rect(83px, 9999px, 105px, 0); }
  15% { clip: rect(95px, 9999px, 11px, 0); }
  20% { clip: rect(105px, 9999px, 56px, 0); }
  25% { clip: rect(40px, 9999px, 19px, 0); }
  30% { clip: rect(56px, 9999px, 97px, 0); }
  35% { clip: rect(9px, 9999px, 17px, 0); }
  40% { clip: rect(103px, 9999px, 53px, 0); }
  45% { clip: rect(92px, 9999px, 6px, 0); }
  50% { clip: rect(69px, 9999px, 46px, 0); }
  55% { clip: rect(8px, 9999px, 87px, 0); }
  60% { clip: rect(12px, 9999px, 15px, 0); }
  70% { clip: rect(28px, 9999px, 106px, 0); }
  80% { clip: rect(98px, 9999px, 63px, 0); }
  85% { clip: rect(11px, 9999px, 44px, 0); }
  95% { clip: rect(23px, 9999px, 84px, 0); }
  100% { clip: rect(66px, 9999px, 91px, 0); }
}

@keyframes glitch-r {
  0% { clip: rect(86px, 9999px, 25px, 0); }
  5% { clip: rect(30px, 9999px, 17px, 0); }
  10% { clip: rect(54px, 9999px, 43px, 0); }
  15% { clip: rect(10px, 9999px, 86px, 0); }
  25% { clip: rect(62px, 9999px, 1px, 0); }
  30% { clip: rect(61px, 9999px, 24px, 0); }
  35% { clip: rect(38px, 9999px, 46px, 0); }
  40% { clip: rect(115px, 9999px, 8px, 0); }
  45% { clip: rect(87px, 9999px, 44px, 0); }
  50% { clip: rect(6px, 9999px, 65px, 0); }
  55% { clip: rect(83px, 9999px, 99px, 0); }
  65% { clip: rect(25px, 9999px, 71px, 0); }
  70% { clip: rect(37px, 9999px, 55px, 0); }
  75% { clip: rect(115px, 9999px, 18px, 0); }
  80% { clip: rect(68px, 9999px, 46px, 0); }
  90% { clip: rect(47px, 9999px, 31px, 0); }
  95% { clip: rect(47px, 9999px, 84px, 0); }
  100% { clip: rect(93px, 9999px, 53px, 0); }
}

@media (max-width: 568px) {
  html { font-size: 10px; }
}